body {
    font-size: 1.2em;
}
table {
    border: none;
    border-spacing: 4px;
    border-collapse: separate;
}
th {
    background: #ccf;
}
#multiplication td {
    color: #aaa;
}
th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}
td:hover {
    cursor: pointer;
}
.highlight {
    background: #ff8;
}
.selected {
    background: #8f8;
    color: black;
}
/* TODO: Make these divs more generic */
#multiplication,
#multiples {
  float: left;
  margin-right: 2em;
}
#equations,
#buttons {
  margin: 0.5em 0;
  font-size: 2em;
  font-weight: bold;
}
#equations ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.box {
  border: 1px solid black;
  background: #fff;
  width: 24px;
  height: 24px;
  margin: 2px;
  padding: 4px;
  display: inline-block;
  text-align: center;
}

.operator {
  border: none;
  background: transparent;
}

.number {
  background: #aaf;
}

.subtract {
  border: 1px solid #888;;
  background: #ccc;
}

.add {
  background: #faa;
}

.prime {
  border: 2px solid red;
}

.divisor {
  border: 1px solid grey;
  background: #ff9;
  padding: 3px 5px;
}

.boxes {
  display: inline-block;
}
.ones, .tens, .hundreds {
  font-size: 0.7em;
}
.ones {
  background: #fff;
}

.tens {
  background: #ee9;
}

.hundreds {
  background: #9e9;
}

