body {
  font-size: 1.2em;
}
/* Generic tables */
table {
  border: none;
  border-spacing: 4px;
  border-collapse: separate;
}
th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid black;
}

td.highlight {
  background: #ff8;
}

th.selected, td.selected {
  background: #8f8;
  color: black !important;
  font-weight: bold;
}
table th {
  background: #ccf;
}
tr.remainder td {
  font-weight: bold;
}

/* Multiplication tables */
table.point td:hover {
  cursor: pointer;
}
#multiplication table td {
  color: #aaa;
}

/* TODO: Make these divs more generic */
#multiplication,
#multiples {
  float: left;
  margin-right: 2em;
}
#equations,
#buttons {
  margin: 0.5em 0;
  font-size: 2em;
  font-weight: bold;
}
#equations ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.box {
  border: 1px solid black;
  background: #fff;
  width: 24px;
  height: 24px;
  margin: 2px;
  padding: 4px;
  display: inline-block;
  text-align: center;
}

.operator {
  border: none;
  background: transparent;
}

.number {
  background: #aaf;
}

.subtract {
  border: 1px solid #888;;
  background: #ccc;
}

.add {
  background: #faa;
}

.prime {
  border: 2px solid red;
}

.divisor {
  border: 1px solid grey;
  background: #ff9;
  padding: 3px 5px;
}

.boxes {
  display: inline-block;
}
.ones, .tens, .hundreds {
  font-size: 0.7em;
}
.ones {
  background: #fff;
}

.tens {
  background: #ee9;
}

.hundreds {
  background: #9e9;
}

#header {
  border-bottom: 1px solid #777;
  margin-bottom: 1em;
  padding: 2px 6px;
  font-size: 0.8em;
  color: #777;
}

#header a {
  text-decoration: none;
  color: #777;
}

#header a:hover {
  text-decoration: underline;
}

#content {
  margin-top: 2em;
}

.equation {
  margin: 1em 3em;
  font-size: 1.5em;
  font-weight: bold;
}

#flot {
  float: left;
}

#notes {
  clear: both;
}

.legendLabel {
  text-align: right;
}

table.squares th,
table.squares td {
  width: 30px;
  height: 30px;
}

table.squares td {
  background: #ff8;
}

