{% extends "base.html" %}
{% block title %}Add{% endblock %}

{% block content %}
  <div id="addition" class="equation">
    <span id="a"></span> + <span id="b"></span> = <span data-var="sum"></span>
  </div>
  <div id="show_addition"></div>

  <script src="{{ url_for('static', filename='js/addition.js') }}"></script>
  <script>
    function setup_variables() {
      make_variable('a', 1, 20, 1);
      make_variable('b', 0, 20, 1);
    }
    function setUpTangle() {
      setup_variables();

      var element = document.getElementById("addition");
      var tangle = new Tangle(element, {
        initialize: function() {
          this.a = 3;
          this.b = 2;
          this.sum = this.a + this.b;
        },
        update: function() {
          this.sum = this.a + this.b;
          $('#show_addition').html(show_addition(this.a, this.b));
        }
      });
    }
    $(document).ready(function() {
      setUpTangle();
    });
  </script>

{% endblock %}

