{% extends "base.html" %}
{% block title %}Division{% endblock %}

{% block content %}
  <div id="division" class="equation">
    <span id="n"></span> &div; <span id="d"></span>
  </div>
  <div id="show_division"></div>

  <script src="{{ url_for('static', filename='js/division.js') }}"></script>
  <script>
    function setup_variables() {
      make_variable('n', 0, 50, 1);
      make_variable('d', 1, 50, 1);
    }
    function setUpTangle() {
      setup_variables();

      var element = document.getElementById("division");
      var tangle = new Tangle(element, {
        initialize: function() {
          this.n = 10;
          this.d = 3;
        },
        update: function() {
          $('#show_division').html(show_division(this.n, this.d));
        }
      });
    }

    $(document).ready(function() {
      setUpTangle();
    });
  </script>
{% endblock %}

