{% extends "base.html" %}
{% block title %}Graphing{% endblock %}

{% block content %}
  <div id="quadratic">
    <p>This is a simple example of a realtime graphing calculator, using
    <a href="http://worrydream.com/Tangle/">Tangle</a> to adjust a parameter for a
    <a href="http://www.flotcharts.org/">Flot</a> graph.
    </p>

    <p>The graph shows a plot of the quadratic equation
    <span data-var="a" class="TKAdjustableNumber" data-min="-2.0" data-max="2.0" data-step="0.01" data-format="%.2f"></span><em>x</em><sup>2</sup> +
    <span data-var="b" class="TKAdjustableNumber" data-min="-3.0" data-max="3.0" data-step="0.1" data-format="%.1f"></span><em>x</em> +
    <span data-var="c" class="TKAdjustableNumber" data-min="-10.0" data-max="10.0" data-step="0.1" data-format="%.1f"></span>.
    Click and drag to change the formula.
    </p>
    <ul>
      <li>Range (<em>x</em>):
      <span data-var="xmin" class="TKAdjustableNumber" data-min="-50" data-max="0" data-step="1">&nbsp;</span>
      to
      <span data-var="xmax" class="TKAdjustableNumber" data-min="0" data-max="50" data-step="1">&nbsp;</span>
      </li>
      <li>Domain(<em>y</em>):
      <span data-var="ymin" class="TKAdjustableNumber" data-min="-50" data-max="0" data-step="1">&nbsp;</span>
      to
      <span data-var="ymax" class="TKAdjustableNumber" data-min="0" data-max="50" data-step="1">&nbsp;</span>
      </li>
    </ul>

  </div>
  <div id="flot" style="width:400px; height:400px;"></div>

  <p>In the most general example, an arbitrary <em>f(x)</em> function could be entered, then
  each of its numeric constants could be adjusted to see their effect on the plot.
  Most online graphing-calculator examples I've seen require (at minimum) that
  you press Enter or click a button to redraw the graph. This would seem to be
  a huge improvement over those.
  </p>

  <script src="{{ url_for('static', filename='js/flot/jquery.flot.js') }}"></script>
  <script>
    /* Note: This example is quickly hacked together as a proof of concept;
    all of this could be done in a more generic and flexible way.
    */

    function setUpTangle() {
      var element = document.getElementById("quadratic");
      var tangle = new Tangle(element, {
        initialize: function() {
          this.a = 0.2;
          this.b = -2;
          this.c = -5;
          this.xmin = -20;
          this.xmax = 20;
          this.ymin = -20;
          this.ymax = 20;
        },
        update: function() {
          replot(this.a, this.b, this.c, this.xmin, this.xmax, this.ymin, this.ymax);
        }
      });
    }

    // Return points for a curve ax^2 + bx + c
    function ax2_bx1_cx0(a, b, c, xmin, xmax) {
      var points = new Array();
      for (var x = xmin*4; x<= xmax*4; x += 1) {
        var xs = x*0.25; // Scaled down
        points.push([xs, a*xs*xs + b*xs + c]);
      }
      return points
    }

    // Return points for a line with slope b
    function bx1_cx0(b, c, xmin, xmax) {
      var points = new Array();
      points.push([xmin, b*xmin + c]);
      points.push([xmax, b*xmax + c]);
      return points
    }

    // Return points describing a horizontal line at y=c
    function cx0(c, xmin, xmax) {
      var points = new Array();
      points.push([xmin, c]);
      points.push([xmax, c]);
      return points;
    }

    // Redraw the graph. This could probably done more efficiently.
    function replot(a, b, c, xmin, xmax, ymin, ymax) {
      $.plot($("#flot"), [
        cx0(c, xmin, xmax),
        bx1_cx0(b, c, xmin, xmax),
        ax2_bx1_cx0(a, b, c, xmin, xmax)
      ], {
        xaxis: { min: xmin, max: xmax},
        yaxis: { min: ymin, max: ymax}
      });
    }

    $(document).ready(function() {
      setUpTangle();
    });
  </script>

  <link rel="stylesheet" href="{{ url_for('static', filename='js/tangle/TangleKit/TangleKit.css') }}" type="text/css">
  <script type="text/javascript" src="{{ url_for('static', filename='js/tangle/Tangle.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/tangle/TangleKit/mootools.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/tangle/TangleKit/sprintf.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/tangle/TangleKit/BVTouchable.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/tangle/TangleKit/TangleKit.js') }}"></script>
{% endblock %}

