{% extends "base.html" %}
{% block title %}Matheye{% endblock %}

{% block content %}
<h1>Matheye</h1>

<ul class="icons">
  <li><a href="{{ url_for('addition') }}" title="Addition">+</a></li>
  <li><a href="{{ url_for('multiply') }}" title="Multiplication">&times;</a></li>
  <li><a href="{{ url_for('division') }}" title="Division">&div;</a></li>
</ul>

<ul style="clear:both; padding-top: 2em;">
  <li><a href="{{ url_for('multiples') }}">Multiples</a></li>
  <li><a href="{{ url_for('linear') }}">Linear Equation</a></li>
  <li><a href="{{ url_for('quadratic') }}">Quadratic Equation</a></li>
</ul>

{% endblock %}


